.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.caixa h3 {
    font-size: 20px;
}

.header h1 {
    color: white
}

.a {
    color: green;
}