.tabu {
    display: flex;
    flex-direction: row;
}

.tabuLinha {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.casa {
    width: 100px;
    height: 100px;
    font-size: 20pt;
    margin: 4px 2px;
    font-weight: 100;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    font-size: 60px;
    border: 1px solid #000;
    background-color: cadetblue;

}

.tabu_01 {
    font-size: 1.2em;
    background: #009933;
    color: #f1f1f1 ;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #1C1C1C ;
    /* text-shadow: 1px 1px 1px 	#009933; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50% ;
    transform:translate(-50%, -50%); 
}

.teste {
    align-items: center;
    justify-content: center;
    display: flex;
}